$primary: #23B5D3;
$secondary: #007EA7;
$third: #003459;
$dark : #00171F;
$background: #f6fffc; // Bubbles
$big-title-police: Verdana;
$little-title-police: "Work sans";
$text-police: Montserrat;
$breakout: 576px;

.fakeNewsGrid {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 10vh 1fr 4.5fr 2fr 1.3fr 8vh;
  transition: all 1s;

  @media screen and (min-width: $breakout) {
    grid-template-rows: 10vh 1fr 10fr 10vh;
    grid-template-columns: repeat(5, 1fr);
    height: 100vh;
  }

  .front-logo-desktop {
    display: none;
    z-index: 5;


    @media screen and (min-width: $breakout) {
      display: block;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      grid-row: 1;
      grid-column: 3;
      margin-top: 5px;
      margin-bottom: 5px;

      a div {
        width: 100%;
        height: 100%;
      }
    }
  }

  .commands {
    grid-row: 2;
    grid-column: 1;
    color: $third;
    background-color: $primary;
    font-size: 25px;
    display: flex;
    align-items: center;
    padding-left: 20px;

    i {
      cursor: pointer;
    }

    @media screen and (min-width: $breakout) {
      grid-row: 2;
      grid-column: 1;
      font-size: 32px;
      padding-left: 40px;
    }
  }

  .spacer {
    grid-row: 2;
    grid-column: 2;
    background-color: $primary;

    @media screen and (min-width: $breakout) {
      grid-row: 2;
      grid-column: 2 / 5;
    }
  }

  .nav-news {
    grid-row: 2;
    grid-column: 3;
    background-color: $primary;
    display: flex;
    align-items: center;
    padding-left: 70px;
    cursor: pointer;

    img {
      width: 28px;
      height: 28px;
      transform: translateY(-5px);
    }

    @media screen and (min-width: $breakout) {
      grid-row: 2;
      grid-column: 5;
      padding-left: 200px;
      padding-right: 20px;

      img {
        width: 32px;
        height: 32px;
        transform: translateY(0);
      }
    }
  }

  .news-content {
    grid-row: 3;
    grid-column: 1 / 4;
    background-color: $primary;
    color: $background;
    font-family: $little-title-police;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    font-weight: bold;

    @media screen and (min-width: $breakout) {
      grid-row: 3;
      grid-column: 3 / 6;
      font-size: 45px;
      padding-right: 10px;
    }
  }

  .sources {
    grid-row: 4;
    grid-column: 1 / 2;
    background-color: $primary;
    color: white;
    font-family: $text-police;
    font-size: 18px;
    display: flex;
    align-items: center;
    padding-left: 50px;

    span {
      z-index: 5;
    }

    @media screen and (min-width: $breakout) {
      grid-row: 3;
      grid-column: 2;
      padding-left: 100px;
      font-size: 22px;

      #source-name {
        transform: translateY(-30px);
      }
    }
  }

  .true-source {
    grid-column: 2 / 4;
    grid-row: 4;
    background-color: $primary;
    color: white;
    font-family: $text-police;
    font-size: 18px;
    padding-left: 60px;

    display: flex;
    align-items: center;

    span {
      z-index: 5;
    }

    @media screen and (min-width: $breakout) {
      grid-row: 3;
      grid-column: 2;
      padding-left: 100px;
      font-size: 20px;

      #real-source-name {
        transform: translateY(50px);
      }
    }
  }

  .partage-word {
    grid-row: 5;
    grid-column: 1 / 2;
    background-color: $primary;
    font-family: $text-police;
    font-size: 17px;
    color: $third;
    font-weight: bold;
    padding-left: 50px;
    display: flex;
    align-items: center;

    span {
      z-index: 5;
    }

    @media screen and (min-width: $breakout) {
      grid-row: 3;
      grid-column: 1;
      font-size: 19px;
      cursor: pointer;
    }
  }

  .partage-icons {
    grid-row: 5;
    grid-column: 2 / 4;
    background-color: $primary;
    font-family: $text-police;
    font-size: 18px;
    color: $third;
    padding-left: 40px;

    display: flex;
    align-items: center;

    @media screen and (min-width: $breakout) {
      grid-row: 3;
      grid-column: 1;
      padding-left: 50px;

      .icon-line {
        z-index: 5;
        margin-top: 80px;
        opacity: 0;
        transition: all 0.4s;
        font-size: 25px;
      }

      .icon-line.visible {
        opacity: 1;
        transition: all 0.4s;
      }
    }
  }

  .footer {
    grid-row: 6;
    grid-column: 1 / 4;
    background-color: $dark;

    @media screen and (min-width: $breakout) {
      grid-row: 4;
      grid-column: 1 / 6;
    }
  }

  .background {
    display: none;

    @media screen and (min-width: $breakout) {
      display: block;
      grid-column: 1 / 3;
      grid-row: 3;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      opacity: 0.3;
      margin: 10vh;
    }
  }
}

.fakeNewsGrid.blur {
  filter: blur(4px);
  transition: all 0.5s;
}



.mobile-fakeNews-header {
  position: fixed;
  height: 10vh;
  background-color: $background;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 25;


  @media screen and (min-width: $breakout){
    display: none;
  }

  .front-logo-mobile{
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 20vw;
    height: 8vh;
    z-index: 5;
    margin: 5px 40vw;

    a div {
      height: 100%;
      width: 100%;
    }

    @media screen and (min-width: $breakout){
      display: none;
    }
  }
}

.color-change, .element-color-change{
  transition: background-color 0.3s;
}


.fake-news-navbar {
  position: absolute;
  top: 10vh;
  right: -100vw;
  display: grid;
  width: 100vw;
  grid-template-columns: 1fr;
  grid-auto-rows: 90vw;
  transition: all 0.5s;
  z-index: 20;

  @media screen and(min-width: $breakout) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 30vw;
  }

  .navbar-card {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1fr;

    .content {
      font-size: 25px;
      font-family: $little-title-police;
      color: $background;
      grid-column: 1;
      grid-row: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 10px;
      padding-right: 10px;
      font-weight: bold;
    }

    .source {
      font-family: $text-police;
      color: $background;
      bottom: 0;
      grid-column: 1;
      grid-row: 2;
      position: relative;
      left: 10px;
      top: 10px;
    }
  }
}

.fake-news-navbar.open {
  transition: all 0.5s;
  right: 0;
}

#nav-cross {
  position: fixed;
  top: 2vh;
  font-size: 6vh;
  right: 20px;
  color: $dark;
  opacity: 0;
  transition: all 0.4s;
  z-index: 35;
}

#nav-cross.visible {
  opacity: 1;
  transition: all 0.4s;
}