$primary: #23B5D3;
$secondary: #007EA7;
$third: #003459;
$dark : #00171F;
$background: #E8FFF9; // Bubbles
$big-title-police: Verdana;
$little-title-police: "Work sans";
$text-police: Montserrat;

@import './home-header.scss', './home-main.scss';

body {
  background-color: $background;
  margin: 0;
}


.center-vertical-line {
  position: fixed;
  width: 15vw;
  margin-left: 42.5vw;
  margin-right: 42.5vw;
  background-color: $dark;
  height: 100vh;
  z-index: 1;
}


.center-vertical-line {
  position: fixed;
  width: 15vw;
  margin-left: 42.5vw;
  margin-right: 42.5vw;
  background-color: $dark;
  height: 100vh;
  z-index: 1;
}

footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  height: 20vh;
  width: 100vw;
  z-index: 5;
  background-color: $dark;
  margin-top: 10vh;
}
