$primary: #23B5D3;
$secondary: #007EA7;
$third: #003459;
$dark : #00171F;
$background: #f6fffc; // Bubbles
$big-title-police: Verdana;
$little-title-police: "Work sans";
$text-police: Montserrat;
$breakout: 576px;

@import './home-header.scss', './home-main.scss', './menu.scss', './burger.scss', './reflexeGrid.scss', './fakeNewsGrid.scss', './ressourcesGrid.scss';
@font-face {
  font-family: Montserrat;
  src: url("./lib/font-face/Montserrat/Montserrat-Regular.otf");
}
@font-face {
  font-family: Montserrat;
  src: url("./lib/font-face/Montserrat/Montserrat-SemiBold.otf");
  font-weight: bold;
}

@font-face {
  font-family: Verdana;
  src: url("./lib/font-face/Verdana/Verdana.ttf");
}
@font-face {
  font-family: Verdana;
  src: url("./lib/font-face/Verdana/VerdanaBold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Work Sans";
  src: url("./lib/font-face/WorkSans/WorkSans-VariableFont_wght.ttf");
}

a {
  text-decoration: none;
  color: $dark;

  &:hover {
    text-decoration: none;
  }
}

body {
  background-color: $background;
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
}

#wrapper-mobile {                                 // Règle le problème du scroll horizontale sur mobile
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow-x: hidden;

  @media screen and (min-width: $breakout) {
    overflow-x: visible;
  }
}

#wrapper-mobile.blockY{
  overflow-y: hidden;
}

#front-draw {
  display: none;
  position: absolute;
  right: -100px;
  top: -50;
  height: 200px;
  width: auto;
  opacity: 0.7;

  @media screen and (min-width: $breakout) {
    display: block;
    position: absolute;
    right: -100px;
    top: -70px;
    height: 500px;
  }
}


.center-vertical-line {
  position: fixed;
  width: 20vw;
  margin-left: 40vw;
  margin-right: 40vw;
  background-color: #afd0ff;
  height: 150vh;
  z-index: 1;

  @media screen and (min-width: $breakout) {
    width: 15vw;
    margin-left: 42.5vw;
    margin-right: 42.5vw;
    background-color: $dark;
    height: 100vh;
  }
}

footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  height: 10vh;
  width: 100vw;
  z-index: 5;
  background-color: #afd0ff;
  margin-top: 10vh;
  color: $background;
  font-family: $text-police;
  font-size: 10px;

  @media screen and (min-width: $breakout){
    font-size: 15px;
  }

  .copyright {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 30px;
  }

  .signature {
    grid-column: 2;
    grid-row: 1;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 30;
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .auteur {
    grid-column: 3;
    grid-row: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 30px;

    a {
      color: $background;
    }
  }

  @media screen and (min-width: $breakout) {
    background-color: $dark;
  }
}
